body {
    padding-top: 56px;
    font-family: 'Noto Sans TC', sans-serif;
}

@media (max-width: 610px){
    body {
      padding-top: 96px;
    }
}

@media (max-width: 391px){
    body {
      padding-top: 136px;
    }
}

.navbar {
    background-color: rgb(62, 13, 153);
}

.jumbotron {
    background-image: url("./images/trees.png");
    text-align: center;
}

.zoom {
    padding: 20px;
    transition: transform .2s; /* Animation */
}
  
.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.img-fluid {
    cursor: pointer;
}

.navbar, .jumbotron, .img-fluid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);
}

.page-footer {
    box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.4), 0 -6px 20px 0 rgba(0, 0, 0, 0.38);
    margin-top: 20px;
}
